<div class="arrow">
    <div class="box box-1" [style.backgroundColor]="isDetractor ? color1 : color2"> <span> {{list[0]}} </span> </div>
    <div class="box box-2" [style.backgroundColor]="isDetractor ? color1 : color2"> <span> {{list[1]}} </span> </div>
    <div class="box box-3" [style.backgroundColor]="isDetractor ? color1 : color2"> <span> {{list[2]}} </span> </div>
    <div class="box box-4" [style.backgroundColor]="isDetractor ? color1 : color2"> <span> {{list[3]}} </span> </div>
    <div class="box box-5" [style.backgroundColor]="isDetractor ? color1 : color2"> <span> {{list[4]}} </span></div>
    <div class="box box-6" [style.backgroundColor]="isDetractor ? color1 : color2"> <span> {{list[5]}} </span> </div>
    <div class="box box-7" [style.backgroundColor]="isDetractor ? color1 : color2"> <span> {{list[6]}} </span> </div>
    <div class="box box-8" [style.backgroundColor]="isDetractor ? color1 : color2"> <span> {{list[7]}} </span></div>
</div>