
<div class = "content">
    <table class = "top-table">
        <th> Top 10 Stores </th>
        <th> TNPS </th>
        <th> Vol(%) </th>
        <tr *ngFor = "let i of table[0]">
            <td> {{i.top_10_stores}} </td>
            <td> {{i.TNPS}} </td>
            <td> {{i.Vol}} </td>
        </tr> 
    </table>
    <table class = "bottom-table">
        <th> Bottom 10 Stores </th>
        <th> TNPS </th>
        <th> Vol(%) </th>
        <tr *ngFor = "let i of table[1]">
            <td> {{i.bottom_10_stores}} </td>
            <td> {{i.TNPS}} </td>
            <td> {{i.Vol}} </td>
        </tr> 
    </table>
</div>