table{
    width:50%;
}
.content{
    border-spacing: 0px;
    box-shadow: 2px 2px 10px #e7e7e7;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    height: 100%;
    width:70%;
    margin-left: 50px;
    margin-right: 50px;
    table{
        text-align: center;
    }
}
th{
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
    font-size: 14px;
    color: white;
}
td{
    border-bottom: 1px solid #e7e7e7;
    text-align: left;
    font-size: 14px;
}
.top-table{
    th{
        background-color: green;
    }
}
.bottom-table{
    th{
        background-color: red;
    }
}