<div mnFullpage [mnFullpageNavigation]="false" [mnFullpageKeyboardScrolling]="true" [mnFullpageSlidesNavigation]="true"
  [mnFullpageControlArrows]="true"  mnFullpageSlidesNavPosition="top" [mnFullpageControlArrows]="true" [mnFullpageContinuousHorizontal]="true" [mnFullpageScrollBar]="true">

  <div id="section1" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-welcome-page> </app-welcome-page>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <div class="first-slide">
          <app-header [headerTitle]="headingTitle[0]"></app-header>
          <app-executive-summary [executiveSummaryListData]="executiveSummaryList[0]"></app-executive-summary>
          <app-footer [atom1]="atomdata1[0]"  [atom2]="atomdata2[0]" [atom3]="atomdata3[0]" [atom4]="atomdata3[0]"></app-footer>
        </div>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <div class="first-slide">
          <app-header [headerTitle]="headingTitle[0]"></app-header>
          <app-executive-summary [executiveSummaryListData]="executiveSummaryList[1]"></app-executive-summary>
        </div>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">

      <div class="slide">
        <app-header [headerTitle]="headingTitle[1]"></app-header>
        <app-agenda [agendavalues]="agendavalues" active="Retail"></app-agenda>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">

      <div class="slide">
        <app-header [headerTitle]="headingTitle[1]"></app-header>
        <app-agenda> </app-agenda>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[0]" [tables]="table[0]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[0]" [tables]="table[0]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
            <app-header [headerTitle]="headingTitle[2]" [subheaderTitle]="subheaderingTitle"></app-header>
        <app-retail-tnps-overall> </app-retail-tnps-overall>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 9 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[0]" [tables]="table[0]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 11 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[0]" [tables]="table[0]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 13 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[0]" [tables]="table[0]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 15 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[0]" [tables]="table[0]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-staff-sat-mt-tr [title]="title[0]" [data]="data[0]" [categories]="categories[0]"
          [table_value]="table_value[0]"> </app-staff-sat-mt-tr>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[0]" [tables]="table[0]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 19 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 20 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 21 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[0]" [tables]="table[0]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-top-bottom-table [title]="title[0]" [table]="table_23"> </app-top-bottom-table>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-top-bottom-table [title]="title[1]" [table]="table_24"> </app-top-bottom-table>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 25 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-agenda> </app-agenda>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[1]" [tables]="table[1]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[1]" [tables]="table[1]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-staff-sat-mt-tr [title]="title[1]" [data]="data[1]" [categories]="categories[0]"
          [table_value]="table_value[1]"> </app-staff-sat-mt-tr>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-triple-line-chart [title]="title3[0]" [data]="data3[0]" [categories]="categories[0]" [values]="values3[0]">
        </app-triple-line-chart>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 31 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 32 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 33 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[1]" [tables]="table[1]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-staff-sat-mt-tr [title]="title[2]" [data]="data[2]" [categories]="categories[0]"
          [table_value]="table_value[2]"> </app-staff-sat-mt-tr>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[1]" [tables]="table[1]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 37 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 38 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 39 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-agenda> </app-agenda>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[2]" [tables]="table[2]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[2]" [tables]="table[2]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-staff-sat-mt-tr [title]="title[3]" [data]="data[3]" [categories]="categories[0]"
          [table_value]="table_value[3]"> </app-staff-sat-mt-tr>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 44 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-tnps-table [title]="title_dist[0]" [table]="table_45[0]"> </app-tnps-table>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[2]" [tables]="table[2]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-staff-sat-mt-tr [title]="title[4]" [data]="data[4]" [categories]="categories[0]"
          [table_value]="table_value[4]"> </app-staff-sat-mt-tr>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 48 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[2]" [tables]="table[2]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-double-line-chart [title]="title2[0]" [data]="data2[0]" [categories]="categories[0]" [values]="values2[0]"
          [table_value]="table_value2[0]"> </app-double-line-chart>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 51 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 52 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 53 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 54 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-tnps-table [title]="title_dist[1]" [table]="table_45[1]"> </app-tnps-table>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[2]" [tables]="table[2]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-double-line-chart [title]="title2[1]" [data]="data2[1]" [categories]="categories[0]" [values]="values2[1]"
          [table_value]="table_value2[1]"> </app-double-line-chart>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 58 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 59 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 60 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 61 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-tnps-table [title]="title_dist[2]" [table]="table_45[2]"> </app-tnps-table>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[2]" [tables]="table[2]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-double-line-chart [title]="title2[2]" [data]="data2[2]" [categories]="categories[0]" [values]="values2[2]"
          [table_value]="table_value2[2]"> </app-double-line-chart>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 65 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 66 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 67 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 68 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-tnps-table [title]="title_dist[3]" [table]="table_45[3]"> </app-tnps-table>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[2]" [tables]="table[2]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 71 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-agenda> </app-agenda>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[3]" [tables]="table[3]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[3]" [tables]="table[3]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-staff-sat-mt-tr [title]="title[5]" [data]="data[5]" [categories]="categories[0]"
          [table_value]="table_value[5]"> </app-staff-sat-mt-tr>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-double-line-chart [title]="title2[3]" [data]="data2[3]" [categories]="categories[0]" [values]="values2[3]"
          [table_value]="table_value2[3]"> </app-double-line-chart>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[3]" [tables]="table[3]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-staff-sat-mt-tr [title]="title[6]" [data]="data[6]" [categories]="categories[0]"
          [table_value]="table_value[6]"> </app-staff-sat-mt-tr>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[3]" [tables]="table[3]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 80 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 81 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 82 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-agenda> </app-agenda>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[4]" [tables]="table[4]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[4]" [tables]="table[4]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-staff-sat-mt-tr [title]="title[7]" [data]="data[7]" [categories]="categories[1]"
          [table_value]="table_value[7]"> </app-staff-sat-mt-tr>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-triple-line-chart [title]="title3[1]" [data]="data3[1]" [categories]="categories[1]" [values]="values3[1]">
        </app-triple-line-chart>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[4]" [tables]="table[4]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-staff-sat-mt-tr [title]="title[8]" [data]="data[8]" [categories]="categories[1]"
          [table_value]="table_value[8]"> </app-staff-sat-mt-tr>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-triple-line-chart [title]="title3[2]" [data]="data3[2]" [categories]="categories[1]" [values]="values3[2]">
        </app-triple-line-chart>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[4]" [tables]="table[4]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 92 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 93 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 94 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-agenda> </app-agenda>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[5]" [tables]="table[5]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[5]" [tables]="table[5]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-staff-sat-mt-tr [title]="title[9]" [data]="data[9]" [categories]="categories[0]"
          [table_value]="table_value[9]"> </app-staff-sat-mt-tr>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[5]" [tables]="table[5]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-staff-sat-mt-tr [title]="title[10]" [data]="data[10]" [categories]="categories[0]"
          [table_value]="table_value[10]"> </app-staff-sat-mt-tr>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[5]" [tables]="table[5]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 102 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 103 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 104 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-agenda> </app-agenda>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[6]" [tables]="table[6]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[6]" [tables]="table[6]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 108 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[6]" [tables]="table[6]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 110 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide">
        <app-retail-component [headers]="header[6]" [tables]="table[6]"> </app-retail-component>
      </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 112 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 113 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide"> Screen 114 </div>
    </div>
  </div>
  <div id="section2" class="section fp-section fp-table">
    <div class="fp-tableCell">
      <div class="slide" style="color:red;text-align:left;font-size:350%;margin-left: 15px;text-transform:uppercase">
        <b> Thank You </b> </div>
    </div>
  </div>
</div>
