<div id="section1" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-welcome-page> </app-welcome-page>
    </div>
  </div>
</div>
<div id="section2" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <div class="first-slide">
        <app-header [headerTitle]="headingTitle[0]"></app-header>
        <app-executive-summary [executiveSummaryListData]="executiveSummaryList[0]"></app-executive-summary>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
<div id="section3" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <div class="first-slide">
        <app-header [headerTitle]="headingTitle[0]"></app-header>
        <app-executive-summary [executiveSummaryListData]="executiveSummaryList[1]"></app-executive-summary>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>
<div id="section4" class="section fp-section fp-table">
  <div class="fp-tableCell">

    <div class="slide">
      <app-header [headerTitle]="headingTitle[1]"></app-header>
      <app-agenda [agendavalues]="agendavalues" active=""></app-agenda>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section5" class="section fp-section fp-table">
  <div class="fp-tableCell">

    <div class="slide">
      <app-header [headerTitle]="headingTitle[1]"></app-header>
      <app-agenda  [agendavalues]="agendavalues" active="Retail"> </app-agenda>
      <app-footer> </app-footer>
    </div>
  </div>
</div>
<div id="section6" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[0]" [tables]="table[0]" active=""> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section7" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[0]" [tables]="table[0]" active="NPS"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section8" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
          <app-header [headerTitle]="headingTitle[2]" [subheaderTitle]="subheaderingTitle[0]"></app-header>
      <app-retail-tnps-overall> </app-retail-tnps-overall>
      <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section9" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide"> 
      <app-header [headerTitle]="headingTitle[3]" [subheaderTitle]="subheaderingTitle[1]"></app-header> 
      <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]" [atom3]="atomdata3[0]" [atom4]="atomdata4[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section10" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[0]" [tables]="table[0]" active="NPS"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section11" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide"> <app-header [headerTitle]="headingTitle[4]" [subheaderTitle]="subheaderingTitle[2]"></app-header>
      <app-impact-analysis [impact_analysis]="impact_analysis[0]"> </app-impact-analysis>
      <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section12" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[0]" [tables]="table[0]" active="NPS"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section13" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide"> 
      <app-header [headerTitle]="headingTitle[5]" [subheaderTitle]="subheaderingTitle[3]"></app-header>
      <app-impact-analysis [impact_analysis]="impact_analysis[0]"> </app-impact-analysis>
      <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section14" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[0]" [tables]="table[0]" active="NPS"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section15" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide"> <app-header [headerTitle]="headingTitle[6]" [subheaderTitle]="subheaderingTitle[4]"></app-header> 
      <app-impact-analysis [impact_analysis]="impact_analysis[0]"> </app-impact-analysis>
      <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section16" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[0]" [tables]="table[0]" active="Staff Satisfaction Breakdown"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section17" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[7]" [subheaderTitle]="subheaderingTitle[5]"></app-header>
      <app-staff-sat-mt-tr [data]="data[0]" [categories]="categories[0]"
        [table_value]="table_value[0]"> </app-staff-sat-mt-tr>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section18" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[0]" [tables]="table[0]" active="Qualitative Analysis"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section19" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[8]" [subheaderTitle]="subheaderingTitle[6]"></app-header>
        <app-impact-analysis [impact_analysis]="impact_analysis[0]"> </app-impact-analysis>
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section20" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[9]" [subheaderTitle]="subheaderingTitle[7]"></app-header>
        <app-root-cause-analysis [flag]="0"> </app-root-cause-analysis>
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section21" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[10]" [subheaderTitle]="subheaderingTitle[8]"></app-header>
        <app-root-cause-analysis [flag]="1"> </app-root-cause-analysis> 
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer> 
    </div>
  </div>
</div>
<div id="section22" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[0]" [tables]="table[0]" active="Store Performance & Rank"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section23" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-header [headerTitle]="headingTitle[11]" [subheaderTitle]="subheaderingTitle[9]"></app-header>
      <app-top-bottom-table [title]="title[0]" [table]="table_23"> </app-top-bottom-table>
      <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section24" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[12]" [subheaderTitle]="subheaderingTitle[10]"></app-header>
      <app-top-bottom-table [title]="title[1]" [table]="table_24"> </app-top-bottom-table>
      <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section25" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[13]" [subheaderTitle]="subheaderingTitle[11]"></app-header>
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section26" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-header [headerTitle]="headingTitle[1]"> </app-header>
      <app-agenda [agendavalues]="agendavalues" active="Hubtroopers"> </app-agenda>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section27" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[1]" [tables]="table[1]"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section28" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[1]" [tables]="table[1]" active="NPS"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section29" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[14]" [subheaderTitle]="subheaderingTitle[12]"></app-header>
      <app-staff-sat-mt-tr [data]="data[1]" [categories]="categories[0]"
        [table_value]="table_value[1]"> </app-staff-sat-mt-tr>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section30" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[15]" [subheaderTitle]="subheaderingTitle[13]"></app-header>
      <app-triple-line-chart [title]="title3[0]" [data]="data3[0]" [categories]="categories[0]" [values]="values3[0]">
      </app-triple-line-chart>
      <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section31" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[16]" [subheaderTitle]="subheaderingTitle[14]"></app-header>
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]" [atom3]="atomdata3[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section32" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[17]" [subheaderTitle]="subheaderingTitle[15]"></app-header>
        <app-bar-chart [categories]="categories_bar[0]" [data]="data_bar[0]" [values]="values_bar"> </app-bar-chart>
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]" [atom3]="atomdata3[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section33" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[18]" [subheaderTitle]="subheaderingTitle[16]"></app-header>
        <app-bar-chart [categories]="categories_bar[1]" [data]="data_bar[1]" [values]="values_bar"> </app-bar-chart>
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]" [atom3]="atomdata3[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section34" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[1]" [tables]="table[1]" active="Technician Satisfaction"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section35" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[19]" [subheaderTitle]="subheaderingTitle[17]"></app-header>
      <app-staff-sat-mt-tr [data]="data[2]" [categories]="categories[0]"
        [table_value]="table_value[2]"> </app-staff-sat-mt-tr>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section36" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[1]" [tables]="table[1]" active="Qualitative Analysis"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section37" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[20]" [subheaderTitle]="subheaderingTitle[18]"></app-header>
        <app-impact-analysis [impact_analysis]="impact_analysis[0]"> </app-impact-analysis>
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section38" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[21]" [subheaderTitle]="subheaderingTitle[19]"></app-header>
        <app-root-cause-analysis [flag]="0"> </app-root-cause-analysis> 
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section39" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[22]" [subheaderTitle]="subheaderingTitle[20]"></app-header>
        <app-root-cause-analysis [flag]="1"> </app-root-cause-analysis> 
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section40" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[1]"> </app-header>
      <app-agenda [agendavalues]="agendavalues" active="Product and Lifestyle"> </app-agenda>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section41" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[2]" [tables]="table[2]"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section42" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[2]" [tables]="table[2]" active="NPS"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section43" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[23]" [subheaderTitle]="subheaderingTitle[21]"></app-header>
      <app-staff-sat-mt-tr [data]="data[3]" [categories]="categories[0]"
        [table_value]="table_value[3]"> </app-staff-sat-mt-tr>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section44" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[24]" [subheaderTitle]="subheaderingTitle[22]"></app-header>
        <app-bubble-chart [bubble_array]="bubble_array[0]"> </app-bubble-chart>
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section45" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[25]"></app-header>
      <app-tnps-table  [table]="table_45[0]"> </app-tnps-table>
      <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section46" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[2]" [tables]="table[2]" active="Overall Satisfaction"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section47" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[26]" [subheaderTitle]="subheaderingTitle[23]"></app-header>
      <app-staff-sat-mt-tr [data]="data[4]" [categories]="categories[0]"
        [table_value]="table_value[4]"> </app-staff-sat-mt-tr>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section48" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[27]" [subheaderTitle]="subheaderingTitle[24]"></app-header>
        <app-bubble-chart [bubble_array]="bubble_array[1]"> </app-bubble-chart>
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section49" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[2]" [tables]="table[2]" active="Cable TV Metrics"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section50" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[28]" [subheaderTitle]="subheaderingTitle[25]"></app-header>
      <app-double-line-chart [data]="data2[0]" [categories]="categories[0]" [values]="values2[0]"
        [table_value]="table_value2[0]"> </app-double-line-chart>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section51" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[29]" [subheaderTitle]="subheaderingTitle[26]"></app-header>
        <app-bubble-chart [bubble_array]="bubble_array[2]"> </app-bubble-chart>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section52" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[30]" [subheaderTitle]="subheaderingTitle[27]"></app-header>
        <app-impact-analysis [impact_analysis]="impact_analysis[0]"> </app-impact-analysis>
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section53" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[31]" [subheaderTitle]="subheaderingTitle[28]"></app-header>
        <app-root-cause-analysis [flag]="0"> </app-root-cause-analysis> 
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section54" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[32]" [subheaderTitle]="subheaderingTitle[29]"></app-header>
        <app-root-cause-analysis [flag]="1"> </app-root-cause-analysis> 
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section55" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[33]"></app-header>
      <app-tnps-table [table]="table_45[1]"> </app-tnps-table>
      <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section56" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[2]" [tables]="table[2]" active="Mobile Metrics"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section57" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[34]" [subheaderTitle]="subheaderingTitle[30]"></app-header>
      <app-double-line-chart [data]="data2[1]" [categories]="categories[0]" [values]="values2[1]"
        [table_value]="table_value2[1]"> </app-double-line-chart>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section58" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[35]" [subheaderTitle]="subheaderingTitle[31]"></app-header>
        <app-bubble-chart [bubble_array]="bubble_array[3]"> </app-bubble-chart>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section59" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[36]" [subheaderTitle]="subheaderingTitle[32]"></app-header>
        <app-impact-analysis [impact_analysis]="impact_analysis[0]"> </app-impact-analysis>
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section60" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[37]" [subheaderTitle]="subheaderingTitle[33]"></app-header>
        <app-root-cause-analysis [flag]="0"> </app-root-cause-analysis> 
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section61" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[38]" [subheaderTitle]="subheaderingTitle[34]"></app-header>
        <app-root-cause-analysis [flag]="1"> </app-root-cause-analysis> 
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section62" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[39]"></app-header>
      <app-tnps-table [title]="title_dist[2]" [table]="table_45[2]"> </app-tnps-table>
      <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section63" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[2]" [tables]="table[2]" active="Broadband Metrics"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section64" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[40]" [subheaderTitle]="subheaderingTitle[35]"></app-header>
      <app-double-line-chart [title]="title2[2]" [data]="data2[2]" [categories]="categories[0]" [values]="values2[2]"
        [table_value]="table_value2[2]"> </app-double-line-chart>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section65" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[41]" [subheaderTitle]="subheaderingTitle[36]"></app-header>
        <app-bubble-chart [bubble_array]="bubble_array[4]"> </app-bubble-chart>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section66" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[42]" [subheaderTitle]="subheaderingTitle[37]"></app-header>
        <app-impact-analysis [impact_analysis]="impact_analysis[0]"> </app-impact-analysis>
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section67" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[43]" [subheaderTitle]="subheaderingTitle[38]"></app-header>
        <app-root-cause-analysis [flag]="0"> </app-root-cause-analysis> 
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section68" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[44]" [subheaderTitle]="subheaderingTitle[39]"></app-header>
        <app-root-cause-analysis [flag]="1"> </app-root-cause-analysis> 
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section69" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[45]"></app-header>
      <app-tnps-table [table]="table_45[3]"> </app-tnps-table>
      <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section70" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[2]" [tables]="table[2]" active="Qualitative Analysis"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section71" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[46]" [subheaderTitle]="subheaderingTitle[40]"></app-header>
        <app-impact-analysis [impact_analysis]="impact_analysis[0]"> </app-impact-analysis>
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section72" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[1]"> </app-header>
      <app-agenda [agendavalues]="agendavalues" active="StarHub EBG"> </app-agenda>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section73" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[3]" [tables]="table[3]" > </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section74" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[3]" [tables]="table[3]" active="NPS"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section75" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[47]" [subheaderTitle]="subheaderingTitle[41]"></app-header>
      <app-staff-sat-mt-tr [data]="data[5]" [categories]="categories[0]"
        [table_value]="table_value[5]"> </app-staff-sat-mt-tr>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section76" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[48]" [subheaderTitle]="subheaderingTitle[42]"></app-header>
      <app-double-line-chart [data]="data2[3]" [categories]="categories[0]" [values]="values2[3]"
        [table_value]="table_value2[3]"> </app-double-line-chart>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section77" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[3]" [tables]="table[3]" active="Sales Person Satisfaction"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section78" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[49]" [subheaderTitle]="subheaderingTitle[43]"></app-header>
      <app-staff-sat-mt-tr [data]="data[6]" [categories]="categories[0]"
        [table_value]="table_value[6]"> </app-staff-sat-mt-tr>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section79" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[3]" [tables]="table[3]" active="Qualitative Analysis"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section80" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[50]" [subheaderTitle]="subheaderingTitle[44]"></app-header>
        <app-impact-analysis [impact_analysis]="impact_analysis[0]"> </app-impact-analysis>
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section81" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[51]" [subheaderTitle]="subheaderingTitle[45]"></app-header>
        <app-root-cause-analysis [flag]="0"> </app-root-cause-analysis> 
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section82" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[52]" [subheaderTitle]="subheaderingTitle[46]"></app-header>
        <app-root-cause-analysis [flag]="1"> </app-root-cause-analysis> 
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section83" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[1]"> </app-header>
      <app-agenda [agendavalues]="agendavalues" active="StarHub Online"> </app-agenda>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section84" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[4]" [tables]="table[4]"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section85" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[4]" [tables]="table[4]" active="NPS"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section86" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[53]" [subheaderTitle]="subheaderingTitle[47]"></app-header>
      <app-staff-sat-mt-tr [data]="data[7]" [categories]="categories[1]"
        [table_value]="table_value[7]"> </app-staff-sat-mt-tr>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section87" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[54]" [subheaderTitle]="subheaderingTitle[48]"></app-header>
      <app-triple-line-chart [data]="data3[1]" [categories]="categories[1]" [values]="values3[1]">
      </app-triple-line-chart>
      <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section88" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[4]" [tables]="table[4]" active="Overall Satisfaction"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section89" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[55]" [subheaderTitle]="subheaderingTitle[49]"></app-header>
      <app-staff-sat-mt-tr [data]="data[8]" [categories]="categories[1]"
        [table_value]="table_value[8]"> </app-staff-sat-mt-tr>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section90" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[56]" [subheaderTitle]="subheaderingTitle[50]"></app-header>
      <app-triple-line-chart [data]="data3[2]" [categories]="categories[1]" [values]="values3[2]">
      </app-triple-line-chart>
      <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section91" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[4]" [tables]="table[4]" active="Qualitative Analysis"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section92" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[57]" [subheaderTitle]="subheaderingTitle[51]"></app-header>
        <app-impact-analysis [impact_analysis]="impact_analysis[0]"> </app-impact-analysis>
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section93" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[58]" [subheaderTitle]="subheaderingTitle[52]"></app-header>
        <app-root-cause-analysis [flag]="0"> </app-root-cause-analysis> 
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section94" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[59]" [subheaderTitle]="subheaderingTitle[53]"></app-header>
        <app-root-cause-analysis [flag]="1"> </app-root-cause-analysis> 
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section95" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[1]"> </app-header>
      <app-agenda [agendavalues]="agendavalues" active="StarHub Telesales"> </app-agenda>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section96" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[5]" [tables]="table[5]"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section97" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[5]" [tables]="table[5]" active="NPS"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section98" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[60]" [subheaderTitle]="subheaderingTitle[54]"></app-header>
      <app-staff-sat-mt-tr [data]="data[9]" [categories]="categories[0]"
        [table_value]="table_value[9]"> </app-staff-sat-mt-tr>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section99" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[5]" [tables]="table[5]" active="Staff Satisfaction"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section100" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[61]" [subheaderTitle]="subheaderingTitle[55]"></app-header>
      <app-staff-sat-mt-tr [data]="data[10]" [categories]="categories[0]"
        [table_value]="table_value[10]"> </app-staff-sat-mt-tr>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section101" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[5]" [tables]="table[5]" active="Qualitative Analysis"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section102" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[62]" [subheaderTitle]="subheaderingTitle[56]"></app-header>
        <app-impact-analysis [impact_analysis]="impact_analysis[0]"> </app-impact-analysis>
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section103" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[63]" [subheaderTitle]="subheaderingTitle[57]"></app-header>
        <app-root-cause-analysis [flag]="0"> </app-root-cause-analysis> 
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section104" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[64]" [subheaderTitle]="subheaderingTitle[58]"></app-header>
        <app-root-cause-analysis [flag]="1"> </app-root-cause-analysis> 
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section105" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[1]"> </app-header>
      <app-agenda [agendavalues]="agendavalues" active="Consumer Contact Center"> </app-agenda>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section106" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[6]" [tables]="table[6]"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section107" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[6]" [tables]="table[6]" active="NPS"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section108" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[65]" [subheaderTitle]="subheaderingTitle[59]"></app-header>
        <app-column-chart> </app-column-chart>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section109" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[6]" [tables]="table[6]" active="Agent NPS"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section110" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[66]" [subheaderTitle]="subheaderingTitle[60]"></app-header>
        <app-column-chart> </app-column-chart>
        <app-footer [atom1]="atomdata1[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section111" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
      <app-retail-component [headers]="header[6]" [tables]="table[6]" active="Qualitative Analysis"> </app-retail-component>
      <app-footer></app-footer>
    </div>
  </div>
</div>
<div id="section112" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[67]" [subheaderTitle]="subheaderingTitle[61]"></app-header>
        <app-impact-analysis [impact_analysis]="impact_analysis[0]"> </app-impact-analysis>
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section113" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[68]" [subheaderTitle]="subheaderingTitle[62]"></app-header>
        <app-root-cause-analysis [flag]="0"> </app-root-cause-analysis> 
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section114" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide">
        <app-header [headerTitle]="headingTitle[69]" [subheaderTitle]="subheaderingTitle[63]"></app-header>
        <app-root-cause-analysis [flag]="1"> </app-root-cause-analysis> 
        <app-footer [atom1]="atomdata1[0]" [atom2]="atomdata2[0]"></app-footer>
    </div>
  </div>
</div>
<div id="section115" class="section fp-section fp-table">
  <div class="fp-tableCell">
    <div class="slide" style="color:red;text-align:left;font-size:350%;margin-left: 15px;text-transform:uppercase">
      <b> Thank You </b> 
      <app-footer></app-footer>
    </div>
  </div>
</div>
