
<div  mnFullpage
[mnFullpageNavigation]="true"
[mnFullpageKeyboardScrolling]="true"
[mnFullpageSlidesNavigation]="true"
[mnFullpageControlArrows]="true"
mnFullpageSlidesNavPosition="top">

    <div id="section1" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> Screen 1 </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide">
                <div class = "first-slide">
                    <app-executive-summary></app-executive-summary>
                </div>
            </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide">
                <div class = "first-slide">
                    <app-welcome-page></app-welcome-page>
                </div>
            </div>
        </div>
    </div>

    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> <app-agenda></app-agenda> </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> 
                <div class = "highlighter">
                    <app-agenda> </app-agenda> </div>
                </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> <app-retail-component> </app-retail-component>  </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> <app-retail-component> </app-retail-component> </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> <app-retail-tnps-overall name="s"> </app-retail-tnps-overall> </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> Screen 9 </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> <app-retail-component> </app-retail-component> </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> Screen 11 </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> <app-retail-component> </app-retail-component> </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> Screen 13 </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> <app-retail-component> </app-retail-component> </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> Screen 15 </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> <app-retail-component> </app-retail-component> </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> <app-staff-sat-mt-tr [title]="title[0]" [data]="data[0]" [categories]="categories[0]"> </app-staff-sat-mt-tr> </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> <app-retail-component> </app-retail-component> </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> Screen 19 </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> Screen 20 </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> Screen 21 </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> <app-retail-component> </app-retail-component> </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> <app-triple-line-chart [title]="title3[0]" [data]="data3[0]" [categories]="categories[0]" [values]="values3[0]"> </app-triple-line-chart> </div>
        </div>
    </div>
    <div id="section2" class="section fp-section fp-table">
        <div class="fp-tableCell">
            <div class="slide"> <app-double-line-chart [title]="title2[0]" [data]="data2[0]" [categories]="categories[0]" [values]="values2[0]"> </app-double-line-chart> </div>
        </div>
    </div>
</div>