table{
    width:100%;
    height:350px;
  }
  
  td{
    margin-left: 50px;
    font-size: 26px;
    text-align: center;
  }
  td.active {
    background: #8Ec63E;
    color: #fff;
  }
  .content {padding:10px;}
  .header {
      margin-top: 0%;
      padding: 1px;
      text-align: center;
      background: #8EC63D;
      color: white;
      font-size: 25px;
      margin-left: 50px;
      margin-right: 50px;
      text-transform: uppercase;
      border: 1px solid grey;
    }
    hr{
        margin-left: 350px;
        margin-right: 350px;
        color: #32cd32;
    }