table{
  width:65%;
  margin-left: 50px;
  height:450px;
  border-collapse: collapse;
}
td.active {
  background: #8Ec63E;
  color: #fff;
}
td{
  margin-left: 50px;
  font-size: 26px;
  border: 1px solid #8EC63E;
  padding-left: 10px;
  position: relative;
  border-collapse: collapse;
}
.content {padding:10px;}
.header {
    margin-top: 0%;
    padding: 1px;
    text-align: left;
    color: black;
    font-size: 25px;
    margin-left: 50px;
    margin-right: 20px;
  }
  hr{
    color: #32cd32;
  }