<div class="header">
    <h1>Header</h1>
</div>
<div class = "content">
    <table id ="agenda-table">
        <tr>
            Retail
        </tr><hr>
        <tr>
            Hubtroopers
        </tr><hr>
        <tr>
            Product and Lifestyle
        </tr><hr>
        <tr>
            StarHub EBG
        </tr>
        <tr><hr>
            StarHub Online
        </tr><hr>
        <tr>
            StarHub TeleSales
        </tr><hr>
        <tr>
            Consumer Contact Centre
        </tr>
    </table>
</div>