.summary-conaitner {
    display: flex;
    flex-direction: row;
      justify-content:center;
      flex-flow: row wrap;
  }
  .executive-summary-divs{
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    width: 250px;
    background: #565656;
    }
    h1{
      color: #fff;
      font-size: 24px;
      font-size: 24px;
      text-align: center;
      min-height: 66px;
  }
  textarea {
    height: 67px;
    width: 210px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}