<div class="summary-conaitner">
                <div *ngFor= "let i of executiveSummaryList">
                                <div class="executive-summary-divs">
                                <h1>{{ i }}</h1>
                                <div class="">
                                        <textarea></textarea>
                                    </div>
                                    <div class="">
                                       <textarea></textarea>
                                   </div>
                                   <div class="">
                                       <textarea></textarea>
                                   </div>
        </div>
        
</div>
</div>
