img{
width: 80px;

  }
  .header{
    display: flex; 
    position:relative;
    justify-content: space-between;
    margin: 0 40px 0 40px;
  }
  h6{
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0;
    color: #6D6D6D;
  }
  h1{
      font-weight: 400;
      text-transform: uppercase;
  }