<h4> {{title[0]}}​ </h4>
<h6> {{title[1]}}​ </h6>

<highcharts-chart
   [Highcharts] = "highcharts" 
   [options] = "chartOptions" 
   style = "width: 90%; height: 325px; display: block;margin-left:30px;">
</highcharts-chart>

<div class = "content">
   <table id = "retail-table">
      <tr>
         <td *ngFor = "let i of table_value[0]">
            {{i}}
         </td>
      </tr>
      <tr>
         <td *ngFor = "let i of table_value[1]">
            {{i}}
         </td>
      </tr> 
   </table>
</div>