<div class="row">
    <div class="column">
        <div class="card">
            <h3> Retail </h3>
            <div class = "int-cards">
                <p> Overall NPS score has been decreased and increased</p>
            </div> <br>
            <div class = "int-cards">
                <p> Overall NPS score has been decreased and increased</p>
            </div> <br>
            <div class = "int-cards">
                <p> Overall NPS score has been decreased and increased</p>
            </div>
        </div>
    </div>
</div>
