<h2> JUN Executive Summary</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <h3> Retail </h3>
            <div class = "int-cards">
                <p> Overall NPS score has been decreased and increased</p>
            </div> <br>
            <div class = "int-cards">
                <p> Overall NPS score has been decreased and increased</p>
            </div> <br>
            <div class = "int-cards">
                <p> Overall NPS score has been decreased and increased</p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <h3> Hubtroopers </h3>
            <div class = "int-cards">
                <p> Overall NPS score has been decreased and increased</p>
            </div> <br>
            <div class = "int-cards">
                <p> Overall NPS score has been decreased and increased</p>
            </div> <br>
            <div class = "int-cards">
                <p> Overall NPS score has been decreased and increased</p>
            </div>
        </div>
    </div>
    
    <div class="column">
        <div class="card">
            <h3> Product & LifeStyle </h3>
            <div class = "int-cards">
                <p> Overall NPS score has been decreased and increased</p>
            </div> <br>
            <div class = "int-cards">
                <p> Overall NPS score has been decreased and increased</p>
            </div> <br>
            <div class = "int-cards">
                <p> Overall NPS score has been decreased and increased</p>
            </div>
        </div>
    </div>
    
    <div class="column">
        <div class="card">
            <h3> StarHub EBG </h3>
            <div class = "int-cards">
                <p> Overall NPS score has been decreased and increased</p>
            </div> <br>
            <div class = "int-cards">
                <p> Overall NPS score has been decreased and increased</p>
            </div> <br>
            <div class = "int-cards">
                <p> Overall NPS score has been decreased and increased</p>
            </div>
        </div>
    </div>
</div>
